<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuql.taotao.mapper.TbItemParamMapper" >

    <resultMap id="BaseResultMap" type="com.zuql.taotao.pojo.TbItemParam" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="item_cat_id" property="itemCatId" jdbcType="BIGINT" />
        <result column="param_data" property="paramData" jdbcType="LONGVARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, item_cat_id, param_data, created, updated
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from tb_item_param
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from tb_item_param
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zuql.taotao.pojo.TbItemParam" >
        insert into tb_item_param (id, item_cat_id, param_data, 
            created, updated)
        values (#{id,jdbcType=BIGINT}, #{itemCatId,jdbcType=BIGINT}, #{paramData,jdbcType=LONGVARCHAR}, 
            #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.zuql.taotao.pojo.TbItemParam" >
        insert into tb_item_param
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="itemCatId != null" >
                item_cat_id,
            </if>
            <if test="paramData != null" >
                param_data,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="updated != null" >
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="itemCatId != null" >
                #{itemCatId,jdbcType=BIGINT},
            </if>
            <if test="paramData != null" >
                #{paramData,jdbcType=LONGVARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zuql.taotao.pojo.TbItemParam" >
        update tb_item_param
        <set >
            <if test="itemCatId != null" >
                item_cat_id = #{itemCatId,jdbcType=BIGINT},
            </if>
            <if test="paramData != null" >
                param_data = #{paramData,jdbcType=LONGVARCHAR},
            </if>
            <if test="created != null" >
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zuql.taotao.pojo.TbItemParam" >
        update tb_item_param
        set item_cat_id = #{itemCatId,jdbcType=BIGINT},
            param_data = #{paramData,jdbcType=LONGVARCHAR},
            created = #{created,jdbcType=TIMESTAMP},
            updated = #{updated,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>